extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 NHÃN DỮ LIỆU
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
							.row
								.col-12
									table#tab-label.table.table-bordered.table-striped
										thead
											tr
												th Nơi ở
												th Chỗ ở
												th Lương (Triệu)
												th Công việc
												th Bằng cấp
												th Tuổi
												th Người thân
												th Thẻ tín dụng
												th Phương tiện
												th Hôn nhân
												th sở thích
												th Nhãn
										tbody
											each data in dataList 
												tr 
													td=data.Hometown
													td=data.Current_Home
													td=data.Salary
													td=data.Job
													td=data.Degree
													td=data.Age
													td=data.Num_Relative
													td=data.Credit
													td=data.Vehicle
													td=data.Marriage
													td=data.Interest
													td=data.label
block script 
	script(src="./javascript/admin.js") 
